pkgbase = falco
	pkgdesc = Falco, a system-level activity monitoring tool
	pkgver = 0.10.0
	pkgrel = 1
	url = http://www.sysdig.org
	arch = x86_64
	license = GPLv2
	depends = dkms
	depends = linux-headers
	source = http://download.draios.com/stable/deb/stable-amd64/falco-0.10.0-x86_64.deb
	md5sums = 281a7d92620a2536ec69b985f717970c

pkgname = falco

