pkgbase = falco
	pkgdesc = Falco, a system-level activity monitoring tool
	pkgver = 0.12.1
	pkgrel = 1
	url = http://www.sysdig.org
	arch = x86_64
	license = GPL2
	depends = dkms
	depends = linux-headers
	backup = etc/falco/falco.yaml
	backup = etc/falco/falco_rules.local.yaml
	source = http://download.draios.com/stable/deb/stable-amd64/falco-0.12.1-x86_64.deb
	md5sums = be87172a87bfb2fe55e5d0658499d6b0

pkgname = falco

